<div class="container d-flex flex-column align-items-center">
    <div class="text-center">
        <h1 class="display-4 mt-4">SEJA BEM VINDO !</h1>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <img src="https://jpimg.com.br/uploads/2024/03/endrick-palmeiras-750x450.jpg" alt="Logo" class="img-fluid" />
    </div>
</div>
