﻿<div class="container justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-4">SEJA BEM VINDO !</h1>
    </div>
    <div class="mx-auto mt-5" style="width: 200px;">
        <p class="">LOGO AQUI</p>
    </div>
</div>