@model DayuseModel

@{
    ViewData["Title"] = "Cadastro de Day Use";
}

<form method="post" asp-controller="Cadastro" asp-action="Index">

    <div class="text-center">
        <h1 class="display-4">Cadastro</h1>

        <div class="row gap-3 mb-3">
            <input class="form-control col-sm-4" type="text" asp-for="Nome" placeholder="Nome Completo">
            <input class="form-control col" type="tel" asp-for="Telefone" pattern="[(][0-9]{2}[)][0-9]{5}-[0-9]{4}" required placeholder="(11)99999-9999">
            <input class="form-control col" type="text" asp-for="Pulseira" placeholder="Numero da Pulseira">
        </div>

        <div class="row gap-3">
            <input class="form-control col" asp-for="DataVenda" type="date" placeholder="Data">
            <select class="form-control col" asp-for="Aluno" id="Aluno">
                <option value=true>Aluno</option>
                <option value=false>Não Aluno</option>
            </select>
        </div>

        <div class="input-group-sm mt-2 d-flex justify-content-center align-items-md-center mt-2 gap-2">

            <span class="input-group-addon ">R$</span>

            <input type="text" class="form-control w-50" asp-for="Preco" placeholder="Preço">
        </div>

        <div class="d-inline-flex justify-content-center align-items-md-center mt-2 gap-2">

            <a type="button" class="btn btn-primary " asp-controller="Home" asp-action="Index">Voltar</a>

            <button type="submit" class="btn btn-success ">Cadastrar</button>
        </div>
    </div>
</form>
